nextflow.enable.dsl = 2

plugins {
  id 'nf-boost@0.7.0'
}

boost {
  cleanup = true
}


// Reporting configuration
report {
    enabled     = true
    overwrite   = true
    file        = "${params.outdir}/pipeline_report.html"
}

// Timeline configuration
timeline {
    enabled     = true
    overwrite   = true
    file        = "${params.outdir}/timeline_report.html"
}

// Trace configuration
trace {
    enabled     = true
    overwrite   = true
    file        = "${params.outdir}/trace.txt"
}

// Manifest configuration
manifest {
    name            = 'ChoCallate'
    description     = 'Consensus variant calling pipeline'
    author          = 'A. Ermolaev'
    version         = '1.0.0'
    nextflowVersion = '>=25.0.0'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    homePage        = 'https://github.com/alermol/chocallate'
    license         = 'MIT'
}
